<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>703653145187-3d2l8c9lf35e6u2sknffupbqvfh03d55.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.703653145187-3d2l8c9lf35e6u2sknffupbqvfh03d55</string>
	<key>API_KEY</key>
	<string>AIzaSyBuwetcT3UQnpy6YNGCjD0dStNhr5uvUN0</string>
	<key>GCM_SENDER_ID</key>
	<string>703653145187</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myApp</string>
	<key>PROJECT_ID</key>
	<string>alarmapp-d8876</string>
	<key>STORAGE_BUCKET</key>
	<string>alarmapp-d8876.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:703653145187:ios:dd3b910e247ce58780a656</string>
</dict>
</plist>